body{
	background:url(bg02.jpg);
	color:#ffffff;
	font-family:"Microsoft YaHei";
}
a:link {color:#ffffff; text-decoration:none;}
a:visited {color:#ffffff; text-decoration:none;}
a:hover {color:#aaaaaa; text-decoration:underline;}
#maintable{
	margin:0px auto;
}
#game{
	padding:10px;
	border:2px solid #000;
	font-size:14px;
}
#gamemenu{
	position:relative;
	text-align:center;
}
#gamehelp{
	position:absolute;
	top:40px;
	left:20px;
	width:400px;
	padding:5px;
	border:2px solid black;
	color:#000000;
	background:#fff;
	display:none;
	z-index:99;
}
#gamesubmenu{
	display:none;
	text-align:center;
}
#gamewarning{
	color:#f00;
}
#gamemain{
	position:relative;
	background:#ddd;
	border:2px solid #086E00;
	display:none;
}
#gamemain div{
	position:absolute;
	height:30px;
	width:30px;
	#padding-top:2px;
	#border:1px solid #888;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	cursor:default;
}

.hidden{background:url(30.jpg) 0 0;}
.flag{background:url(30.jpg) -30px 0;}
.check{background:url(30.jpg) -60px 0;}
.bomb{background:url(30.jpg) -90px 0;}
.cbomb{background:url(30.jpg) -90px 0;}
.wrong{background:url(30.jpg) -120px 0;}
.clear{background:url(30.jpg) -180px 0;}

.num1{color:#3EA4B2;}
.num2{color:#99B222;}
.num3{color:#65B346;}
.num4{color:#9C5D94;}
.num5{color:#AE2918;}
.num6{color:#008080;}
.num7{color:#7F5F84;}
.num8{color:#808080;}