body{
	background:url(bg480.jpg);
	color:#ffffff;
	font-family:"Microsoft YaHei";
}
a:link {color:#ffffff; text-decoration:none;}
a:visited {color:#ffffff; text-decoration:none;}
a:hover {color:#aaaaaa; text-decoration:underline;}
#container{
	margin:0px auto;
	padding:10px;
	#border:2px solid #000;
	font-size:14px;
}
#gamehelp{
	#position:absolute;
	#top:40px;
	#left:20px;
	margin:0px auto;
	width:400px;
	padding:5px;
	border:2px solid black;
	color:#000000;
	background:#fff;
	display:none;
	#z-index:99;
}
#gamesubmenu{
	display:none;
	text-align:center;
}
#gamewarning{
	color:#f00;
}
#gamemain{
	margin:0px auto;
	position:relative;
	#background:#ddd;
	border:2px solid #086E00;
	display:none;
}
#gamemain div{
	position:absolute;
	height:30px;
	width:30px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
	cursor:default;
	#padding-top:2px;
	#border:1px solid #888;
	#background-size:cover;
}

#title{
	margin:0px auto 50px;
	width:235px;
	height:160px;
	background:url(title.jpg) 0 0;
}
#easy{
	margin:0px auto;
	width:155px;
	height:60px;
	background:url(menu69.jpg) 0 0;
}
#normal{
	margin:0px auto;
	width:235px;
	height:60px;
	background:url(menu69.jpg) 0px -69px;
}
#hard{
	margin:0px auto;
	width:170px;
	height:60px;
	background:url(menu69.jpg) 0px -138px;
}
#custom{
	margin:0px auto;
	width:235px;
	height:60px;
	background:url(menu69.jpg) 0px -207px;
}
#option{
	display:none;
	padding-left:20px;
	text-align:center;
}
#start{
	margin:0px auto;
	width:205px;
	height:60px;
	background:url(menu69.jpg) 0px -276px;
}
#help{
	margin:0px auto;
	width:160px;
	height:60px;
	background:url(menu69.jpg) 0px -345px;
}
.inputnum{
	margin:10px 20px 0px 0px;
	width:50px;
}

.hidden{background:url(30.jpg) 0 0;}
.flag{background:url(30.jpg) -30px 0;}
.check{background:url(30.jpg) -60px 0;}
.bomb{background:url(30.jpg) -90px 0;}
.cbomb{background:url(30.jpg) -90px 0;}
.wrong{background:url(30.jpg) -120px 0;}
.hint{background:url(30.jpg) -150px 0;}
.clear{background:url(30.jpg) -180px 0;}

.num1{color:#3EA4B2;}
.num2{color:#99B222;}
.num3{color:#65B346;}
.num4{color:#9C5D94;}
.num5{color:#AE2918;}
.num6{color:#2A993A;}
.num7{color:#7F5F84;}
.num8{color:#808080;}